<!-- BEGIN main_block -->

<!-- available replacements
    WB_URL
    THEME_URL
    THEME_PATH
    SAVE_URL
    TEXT_URL
    CANCEL_URL
    TEXT_HEIGHT
    TEXT_SAVE
    TEXT_CANCEL
    HEIGHT
    URL
    FTAN
-->

<form action="{{ SAVE_URL }}" method="post" class="wrapper" style="margin: auto 3%; width: auto;">
    <input type="hidden" name="page_id" value="{{ PAGE_ID }}" />
    <input type="hidden" name="section_id" value="{{ SECTION_ID }}" />
    <input type="hidden" name="cmd" value="save" />
    <input type="hidden" name="section" value="{{ IDKEY }}" />
    {{ FTAN }}
    <table class="wrapper w3-table w3-row" style="border-collapse: collapse; width: 100%; white-space: nowrap;" >
        <tbody>
        <tr style="line-height: 2.9525em; ">
            <th class="setting_name w3-right-align">{{ TEXT_URL }}:</th>
            <td><input class="w3-input w3-border" type="text" name="url" value="{{ URL }}" /></td>
        </tr>
        <tr>
            <th class="setting_name w3-right-align">{{ TEXT_HEIGHT }}:</th>
            <td><input class="w3-input w3-border" type="text" name="height" value="{{ HEIGHT }}" maxlength="4" /></td>
        </tr>
        <tr>
            <th class="setting_name w3-right-align">{{ TEXT_MIN_HEIGHT }}:</th>
            <td><input class="w3-input w3-border" type="text" name="min_height" value="{{ MIN_HEIGHT }}" maxlength="4" /></td>
        </tr>
        <tr>
            <th class="setting_name w3-right-align">{{ TEXT_CLASS_ATTRIBUTES }}:</th>
            <td><input name="attribute" class="w3-input w3-border" type="text" placeholder="{{ TEXT_ADD_CLASS_ATTRIBUTES }}" id="attribute" value="{{ ATTRIBUTE }}" maxlength="255" /></td>
        </tr>
        </tbody>
    </table>
    <table class="wrapper-submit" >
        <tr>
            <td>
                <input class="w3-btn w3-btn-default w3-blue-wb w3-hover-green w3-medium w3-btn-min-width" type="submit" value="{{ TEXT_SAVE }}" />
                <input class="w3-btn w3-btn-default w3-blue-wb w3-hover-green w3-medium w3-btn-min-width" name="pagetree" type="submit" value="{{ TEXT_SAVE }} & {{ TEXT_BACK }}" />
            </td>
            <td>
                <input class="w3-btn w3-btn-default w3-blue-wb w3-hover-green w3-medium w3-btn-min-width" type="submit" value="{{ TEXT_CLOSE }}" formaction="{{ CANCEL_URL }}" />
            </td>
        </tr>
    </table>
</form>

<!-- END main_block -->
