
  <article id="access" class="access-block">
    <div class="title-line ">
      <div class="w3-display-container w3-margin-left" style="height: 3.25em!important;">
        <div class="w3-display-left"><h2>{{ aLang.MENU_ACCESS }}</h2></div>
      </div>
    </div>

    <div class="w3-right-align w3-padding-0">
        <label class="check-container" for="fr1">
            <input id="fr1" class="w3-radio" type="radio" name="fr" value="1" {{ fr1_CHECKED }} />
            <span style="padding:0 5px!important;"><i class="w3-text-grey fa fa-bars fa-0x w3-baseline"></i></span>
        </label>
        <label class="check-container" for="fr2">
            <input id="fr2" class="w3-radio" type="radio" name="fr" value="2" {{ fr2_CHECKED }} />
            <span style="padding:0 5px!important;"><i class="w3-text-grey fa fa-grip-vertical fa-0x w3-baseline"></i></span>
        </label>
        <label class="check-container" for="fr3">
            <input id="fr3" class="w3-radio" type="radio" name="fr" value="3" {{ fr3_CHECKED }} />
            <span style="padding:0 5px!important;"><i class="w3-text-grey fa fa-th fa-0x w3-baseline"></i></span>
        </label>
    </div>
    <div id="equal-access" class="equal-container" style="grid-template-columns:  1fr 1fr;"><!-- begin grid-container -->
{% if user_block%}
        <div class="w3-card w3-margin equal w3-mobil w3-text-grey w3-hover-light-grey w3-mobile w3-white w3-dropdown-hover" data-access-menu="/users/index.php" >
          <a class="w3-cell" href="{{ system.ADMIN_URL }}users/index.php">
            <div class="w3-container w3-text-align w3-padding">
                <span>
                  <img src="{{ system.THEME_URL }}icons/users.png" alt="{{ aLang.MENU_USERS }}" />
                </span>
                <span class="w3-margin-left">
                  <span class="w3-cell wb-bold-16 w3-text-dark-blue w3-hover-text-blue">{{ aLang.MENU_USERS }}</span><br />
                  <span>{{ aLang.OVERVIEW_USERS }}</span>
                  <span style="line-height:.1;">&nbsp;</span>
                </span>
            </div>
          </a>
        </div>
{% endif %}
{% if group_block%}
        <div class="w3-card w3-margin equal w3-mobil w3-text-grey w3-hover-light-grey w3-mobile w3-white w3-dropdown-hover" data-access-menu="/groups/index.php" >
          <a class="w3-cell" href="{{ system.ADMIN_URL }}groups/index.php">
            <div class="w3-container w3-text-align w3-padding">
                <span>
                  <img src="{{ system.THEME_URL }}icons/groups.png" alt="{{ aLang.MENU_GROUPS }}" />
                </span>
                <span class="w3-margin-left">
                  <span class="w3-cell wb-bold-16 w3-text-dark-blue w3-hover-text-blue">{{ aLang.MENU_GROUPS }}</span><br />
                  <span>{{ aLang.OVERVIEW_GROUPS }}</span>
                  <span style="line-height:.1;">&nbsp;</span>
                </span>
            </div>
          </a>
        </div>
{% endif %}
    </div><!-- end grid-container -->
</article><!-- end access -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let widget = document.querySelectorAll('[data-access-menu]');
        if (widget){
            for (var i=0; i<widget.length; i++){
                let link = widget[i].dataset.accessMenu;
//console.log (widget[i]);
                widget[i].addEventListener (
                    "click",
                    function (evt) {
//console.log (link);
                        let url = window.location.protocol +'//'+ window.location.host + dirname(dirname(window.location.pathname)) + link;//
                        window.location.href = url;
                        evt.preventDefault();
                });
            }
        }
    });
</script>
